{% extends 'layout.html' %}
{% block body %}
<h3>日記詳細</h3>
<div class="mt-4 mb-3 pb-3 border-bottom">
    <h1 class="h4">{{ diary.title }}</h1>
    <div class="d-flex justify-content-between">
        <div class="diary-datetime">
            {{ diary.created_at.strftime('%Y年%m月%d日 %H:%M') }}
        </div>
        <div class="d-flex">
            <a href="{{ url_for('diary.edit', id=diary.id) }}" class="btn btn-sm btn-outline-primary me-4">編集</a>
            <form onsubmit="return confirm('本当に削除しますか？')" action="{{ url_for('diary.delete', id=diary.id) }}" method="post">
                <button class="btn btn-sm btn-secondary">削除</button>
            </form>
        </div>
    </div>
</div>
<div class="pre-line">{{ diary.content }}</div>
{% endblock %}