{% extends 'layout.html' %}
{% block body %}
<h3>ログイン</h3>
<form action="{{ url_for('login') }}" method="post">
    <div class="card w-50">
        <div class="card-header">ログイン</div>
        <div class="card-body">
            <label for="email" class="form-label">メールアドレス</label>
            <input type="text" name="email" class="form-control" id="email" value="">
            <label for="password" class="form-label mt-2">パスワード</label>
            <input type="password" name="password" class="form-control" id="password" value="">        
        </div>
        <div class="card-footer">
            <button class="btn btn-success">ログイン</button>
        </div>
    </div>
</form>
{% endblock %}